.table-wrapper {
    overflow-x: auto;
    border-radius: 10px;
    width: 100%;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
  }
  
  
  
  #my-button {
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
  }
  
  .this-button {
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
  
  }
  .table-row {
    background-color: green;
    color: azure;
  }
  
  
  
  .header {
  font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
  }
  
    