.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
  border: black;
  
  
}


table {
  max-width: 800px;
  border-collapse: collapse;
  margin: auto;
  border: 1px solid black;
  
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  
  
}



#my-button {
  color: aliceblue;
  background-color: blueviolet;
  border-radius: 10px;
}

.this-button {
  color: aliceblue;
  background-color: blueviolet;
  border-radius: 10px;

}
.table-row {
  background-color: green;
  color: azure;
}



.header {

font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 100%;
 
 
  


}

  